.main {
  box-sizing: border-box;
  max-width: 500px;
  border-radius: 20px;
  border: 1px solid grey;
  height: calc(100vh - 40px);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 40px 0;
}

.talk {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #c0392b;
  border: 1px solid white;
  cursor: pointer;
}

.r-message {
  text-align: center;
  height: 50px;
}

.main.recording {
  background: #c0392b;
}

.main.recording h1 {
  color: white;
}

@media only screen and (max-width: 600px) {
  .main {
    margin: 0;
    height: 100vh;
    border: 0;
    border-radius: 0;
  }
}
